.modern-axure {
  background: url(../img/fon_modern.png); 
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  position: relative;
  padding-top: 58px;
  /* height: 600px; */
 

}
.modern-axure::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/mask.png');
  /* z-index: 1; */
}

.modern-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 110px auto 120px 111px; */

}
.modern-logo {
    
}
.modern-logo a {
    width: 129px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 3.75rem;
    margin-top: 108px;
    color: #fff;
    text-transform: uppercase;
}
.modern-logo a::after {
    content:'IT';
    width: 129px;
    display: inline-block;
    color: rgb(124, 39, 39);
   
}
.modern__title {
    width: 544px;
    margin-bottom: 32px;
}
.modern__title h2 {
    font-family: 'Raleway';
    font-size: 3rem;
    line-height: 42px;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;

}
.modern__title::after {  
    content: '';
    border-top: 1px solid rgb(228, 179, 179);
    background-position: center;
    width: 64px;
    display: block;
    margin: 32px 0px 39px;
       }

.modern__description {
     width: 300px;
     /* margin-left: 0px; */
     margin-bottom: 50px;

}
.modern__description p {
      color:#fff;
    
}
.modern__link {
    width: 135px;

}
.modern-wrap__right {
    background:#fff;
    max-width: 370px;
    height: 370px;
    z-index: 2;
    border-radius: 8px;
    overflow: hidden;
   }
.form-content-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 58px;
    
    
}

.form__title {
    padding-top: 10px;
   margin-bottom: 44px;
  }
.form__title h3 {
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
    line-height: 27px;
    text-align: center;
    font-family: 'Open Sans';
    text-transform: capitalize;
}
.form__title span {
    color: rgb(236, 79, 17);
}
.form-content__label {
    font-style: 14px;
    line-height: 19px;
    /* padding-left: 59px; */
    margin-bottom: 16px;
}
.form-content__field {
    width: 252px;
    border: 0;
    border-bottom: 1px solid rgb(83, 80, 80);
    margin-bottom: 16px;
  
}
.form-content__field:focus {
   outline: none;
}

.form__button button {
    width: 371px;
    height: 58px;
    color: rgb(230, 221, 221);
    background-color:rgb(197, 91, 91);
    line-height: 20px;font-weight: 600;
    font-style: normal;
    font-size: 0.94rem;
    text-align: center;
    text-transform: capitalize;
    margin-top: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color:rgb(197, 91, 91);
    cursor: pointer;

}
@media  (max-width:944px) {
    .modern-wrap__right {
        display: block;
        margin: auto;
        margin-right: 0;
        max-width: 100%;
        
       
    }
        .modern-wrap__left {
            margin: auto;     

    }
}
@media  (max-width:530px) {
        .modern-wrap__right {
            display: block;
        }
        .modern__title h2 {
            font-size: 2.2rem;
        }
        }    